# Copyright (c) 2021, [Ribose Inc](https://www.ribose.com).
# All rights reserved.
# This file is a part of tamatebako
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
# TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

name: Ubuntu

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '.github/workflows/macos.yml'      
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '.github/workflows/macos.yml'     
  workflow_dispatch:

env:
  BUILD_TYPE: Release
  MAKEFLAGS: -j4
# The folder for dwarfs and other dependenies
  DEPS: deps
# GitHub dependencies'
  INCBIN_TAG: "348e36b"
  DWARFS_TAG: "libdwarfs_wr_v0.1.6"
  LIBARCHIVE_TAG: "v3.2.1"

jobs:
  build:
    name: ${{ matrix.os }} [CC ${{ matrix.env.CC }}]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04 ]
        env:
          - CC: gcc
            CXX: g++
          - CC: clang
            CXX: clang++
    env: ${{ matrix.env }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create deps folder
        run: |
          mkdir ${{github.workspace}}/${{env.DEPS}}

      - name: Process cache
        uses: actions/cache@v2
        with:
          path: ${{github.workspace}}/${{env.DEPS}}
          key: ${{ matrix.os }}-${{ matrix.env.CC }}-${{ env.DWARFS_TAG }}-${{ env.INCBIN_TAG }}-${{ env.LIBARCHIVE_TAG }}-v05

# https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
# https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md
# Already installed: bison flex pkg-config

# gcc/g++ 9 is also there otherwise we would need:
# sudo add-apt-repository ppa:ubuntu-toolchain-r/test
# sudo apt update
# sudo apt install gcc-9 g++-9

# cmake good enough is also at GHA. Otherswise:
# sudo apt-get remove --purge --auto-remove cmake
# sudo apt-get update
# sudo apt-get install -y software-properties-common lsb-release
# sudo apt-get clean all
# wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | sudo tee /etc/apt/trusted.gpg.d/kitware.gpg >/dev/null
# sudo apt-add-repository "deb https://apt.kitware.com/ubuntu/ $(lsb_release -cs) main"
# sudo apt update
# sudo apt install kitware-archive-keyring
# sudo rm /etc/apt/trusted.gpg.d/kitware.gpg
# sudo apt update
# sudo apt install cmake

      - name: Switch to gcc-9
        if: ${{ matrix.env.CC == 'gcc' }}
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 100 --slave /usr/bin/g++ g++ /usr/bin/g++-9 --slave /usr/bin/gcov gcov /usr/bin/gcov-9
          sudo update-alternatives --set gcc /usr/bin/gcc-9

      - name: Install packages
        run: |
          sudo apt-get -y update
          sudo apt-get -y install \
          binutils-dev libarchive-dev libevent-dev acl-dev \
          libdouble-conversion-dev libiberty-dev liblz4-dev libssl-dev liblzma-dev \
          libunwind-dev libdwarf-dev libelf-dev libgoogle-glog-dev libgtest-dev \
          libboost-context-dev libboost-filesystem-dev libboost-program-options-dev \
          libboost-regex-dev libboost-system-dev libboost-thread-dev

      - name: Update libfmt, googletest (bionic)
        if: ${{ matrix.os == 'ubuntu-18.04' }}
        run: |
          sudo apt-get -y remove libfmt-dev googletest libgtest-dev
          sudo apt-get -y install software-properties-common
          sudo add-apt-repository ppa:team-xbmc/ppa
          sudo apt-get -y update
          sudo apt-get -y install libfmt-dev googletest libgtest-dev

      - name: Install libfmt, googletest (focal)
        if: ${{ matrix.os == 'ubuntu-20.04' }}
        run: sudo apt-get install libfmt-dev googletest libgtest-dev

      - name: Install libjemalloc (not bionic or not clang)
        if: ${{ matrix.os != 'ubuntu-18.04' || matrix.env.CC != 'clang' }}
        run: sudo apt-get -y install libjemalloc-dev
        
      - name: Install libjemalloc 5 (bionic and clang)
        if: ${{ matrix.os == 'ubuntu-18.04' && matrix.env.CC == 'clang' }}
        run: |
          sudo apt-get remove libjemalloc-dev
          wget -q https://github.com/jemalloc/jemalloc/releases/download/5.2.1/jemalloc-5.2.1.tar.bz2
          tar -xf jemalloc-5.2.1.tar.bz2
          cd jemalloc-5.2.1
          ./configure --prefix='/usr'
          make
          sudo make install

      - name: Configure
        run: cmake -B ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DWITH_TESTS=ON

      - name: Build
        run: cmake --build ${{github.workspace}} --config ${{env.BUILD_TYPE}}

      - name: Run unit tests
        run: make test

      - name: Checkout shell test framework
        uses: actions/checkout@v2
        with:
          repository: kward/shunit2
          path: ${{github.workspace}}/tests/shunit2
          fetch-depth: 1

      - name: Run additional tests
        run:  ${{github.workspace}}/tests/scripts/tests.sh

      - name: Upload tests
        if: ${{ matrix.os == 'ubuntu-18.04' }}
        uses: actions/upload-artifact@v2
        with:
          name: tests-${{ matrix.env.CC }}
          path: |
            ${{github.workspace}}/wr-bin
            ${{github.workspace}}/wr-tests

  cross-test-ubuntu-18-to-ubuntu-20:
    needs: build
    name: Run Ubuntu-18.04 binaries on Ubuntu-20.04 [CC ${{ matrix.env }}]
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        env: [ gcc, clang ]
    steps:
      - name: Download tests
        uses: actions/download-artifact@v2
        with:
          name: tests-${{ matrix.env }}

      - name: Provision execute permissions
        run: |
          chmod +x wr-bin
          chmod +x wr-tests

      - name: Run statically linked application
        run: ./wr-bin

      - name: Run unit tests
        run: ./wr-tests
